import(lars)

importFrom("grDevices", "grey")
importFrom("graphics", "abline", "par", "plot", "points", "segments")
importFrom("stats", "coef", "lm.fit", "quantile")

export(jumpoints, plot.aCGHsegmented, sel.control, fit.control )

S3method(plot, aCGHsegmented)

